{% extends "base.html" %}
{% load static %}
{% block page_content %}
     <!--================ Start Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>{{ category_name }}</h2>
                    <div class="page_link">
                        <a href="/">Blog</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Banner Area =================-->
    <section class="blog_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">
                        {% for post in categories %}
                            <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a class="active" href="#">{{ post.sub_category }}</a>
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="#">{{ post.first_name }}{{ post.last_name }}<i class="lnr lnr-user"></i></a></li>
                                        <li><a href="#">{{ post.created_on.date }}<i class="lnr lnr-calendar-full"></i></a></li>
                                        <li><a href="#">1.2M Views<i class="lnr lnr-heart"></i></a></li>
                                        <li><a href="#">06 Comments<i class="lnr lnr-bubble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="{{ post.image.url }}" alt="">
                                    <div class="blog_details">
                                        <a href="single-blog.html"><h2>{{ post.title }}</h2></a>
                                        <p>{{ post.description }}</p>
                                        <a href="{% url 'detail' post.pk %}" class="primary_btn"><span>View More</span></a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        {% endfor %}
                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1" class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">
                                            <span class="lnr lnr-chevron-left"></span>
                                        </span>
                                    </a>
                                </li>
                                <li class="page-item "><a href="?page={{ page_obj.previous_page_number }}" class="page-link">previous</a></li>
                                {% endif %}
                                <li class="page-item active">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
                                {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">
                                        <span aria-hidden="true">
                                            <span class="lnr lnr-chevron-right"></span>
                                        </span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                {% include "side-info.html" %}
            </div>
        </div>
    </section>
{% endblock %}